body{
	background-image: url(cloth.png);
}

label{
	font-weight: bold;
}

input{
	font-size: 20px;
	color: blue;
}

h2{
	font-size: 40px;
	text-align: center;
	color: #83202F;
}

legend{
	font-family: "Passion One";
	font-size: 20px;  
	margin-bottom: 0px;
	color: blue;
}

fieldset{
	background-color: #C3D4E5;
	width: 500px;
}

.field{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}


ul{
	list-style-type: none;
	padding-left: 0px;
}
